@model Libro
@{
    ViewBag.Title = "CreateLibro";
}

<h2>libro Nuevo</h2>
<hr />

<form method="post" action="@Url.Action("CreateLibro","Libro")">
    <div class="form-group">
        <label>Titulo</label>
        @Html.TextBoxFor(x => x.Titulo, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Sinopsis</label>
        @Html.TextBoxFor(x => x.Sinopsis, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Autor</label>
        @Html.TextBoxFor(x => x.Autor, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Editorial</label>
        @Html.TextBoxFor(x => x.Editorial, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Idioma</label>
        @Html.TextBoxFor(x => x.Idioma, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Formato</label>
        @Html.TextBoxFor(x => x.Formato, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Genero</label>
        @Html.TextBoxFor(x => x.Genero, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Disponible</label>
        @Html.TextBoxFor(x => x.Disponible, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <input type="submit" class="btn-success" value="Enviar" />
        <a href="@Url.Action("Index","Libro")">Regresar</a>
    </div>
</form>