@model List<Libro>
@{
    ViewBag.Title = "Index";
}

<h2>
    <a href="@Url.Action("CreateLibro","Libro")" class="btn btn-primary right">Nuevo</a>
    Listado De Libros
</h2>
<table class="table-bordered">
    <thead>
        <tr>
            <td>IdLibro</td>
            <td>Titulo</td>
            <td>Autor</td>
            <td>Acciones</td>

        </tr>
    </thead>
    <tbody>
        @foreach (var libro in Model)
        {
            <tr>
                <td>@libro.IdLibro</td>
                <td>@libro.Titulo</td>
                <td>@libro.Autor</td>
                <td>
                    <a href="@Url.Action("UpdateLibro","Libro", new {id=libro.IdLibro})" class="btn btn-success right">Actualizar</a>
                    <a href="@Url.Action("DeleteLibro","Libro", new {id=libro.IdLibro})" class="btn btn-danger right">Eliminar</a>
                    <a href="@Url.Action("DetalleLibro","Libro", new {id=libro.IdLibro})" class="btn btn-default right">Ver Detalle</a>

                </td>
            </tr>
        }
    </tbody>
</table>


